<div class='container h-100 d-flex justify-content-center align-items-center'>
    <div class='card'>
        <div class='card-body d-flex flex-column'>
            <img class="img-fluid mx-auto" width="500px" src="../../images/404_not_found.svg" alt="404">
            <h2 class="text-center mb-5">Usuario no autenticado</h2>
        </div>
    </div>
</div>
