<div class="card mb-4 col-12 card-custom">
    <div class="card-body">

        <div class="d-flex justify-content-evenly flex-wrap gap-4">
            <div class="d-flex flex-column align-items-center">
                <img class="m-3" src="/images/vegetarian.png" width="60px" alt="vegetarian">
                <p class="m-0"><b>M1</b></p>
                <p class="m-0">Vegetariano</p>
            </div>
            <div class="d-flex flex-column align-items-center">
                <img class="m-3" src="/images/celiac.png" width="60px" alt="celiac">
                <p class="m-0"><b>M2</b></p>
                <p class="m-0">Celiaco</p>
            </div>
            <div class="d-flex flex-column align-items-center">
                <img class="m-3" src="/images/standard.png" width="60px" alt="standard">
                <p class="m-0"><b>M3</b></p>
                <p class="m-0">Estándar</p>
            </div>
            <div class="d-flex flex-column align-items-center">
                <img class="m-3" src="/images/caloric.png" width="60px" alt="caloric">
                <p class="m-0"><b>M4</b></p>
                <p class="m-0">Calórico</p>
            </div>
            <div class="d-flex flex-column align-items-center">
                <img class="m-3" src="/images/ethnic.png" width="60px" alt="Ethnic">
                <p class="m-0"><b>M5</b></p>
                <p class="m-0">Autóctono</p>
            </div>
        </div>

    </div>
</div>
