<nav class="navbar navbar-light nav-custom vw-100">
    <div class="container">
        <span class="navbar-brand m-0">Bienvenido {{ this.username }}</span>
        <button class="btn btn-primary" onclick='logout()'>Cerrar Sesión</button>
    </div>
</nav>
<script>
    const logout = async () => {

        const response = await fetch("http://localhost:3000/logout");

        try {
            // alert success
            Swal.fire({
                icon: 'success',
                title: 'Cierre de sesión Existoso',
                toast: true,
                position: 'top-end',
                showConfirmButton: false,
                timerProgressBar: true,
                timer: 2000,
                didOpen: (toast) => {
                    toast.addEventListener('mouseenter', Swal.stopTimer)
                    toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
            }).then(() => {
                sessionStorage.clear();
                // redirect
                window.location.href = `/`
            });

        } catch ({ response }) {
            const { data } = response;
            const { error } = data;
            // alert error
            Swal.fire({
                title: error,
                icon: 'error',
                confirmButtonText: 'Aceptar'
            });
        };
    };
</script>
